@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.icon {
  transform: translate(3px, -3px);
  z-index: 1;
}

img, svg {
  position: static;
}

body {
  @apply dark:bg-dark-900
}

* {
  @apply select-none outline-none;
  font-family: 'Raleway', sans-serif;
}

.nuxt-content-editor {
  @apply dark:bg-dark-800 border dark:border-white border-black border-solid;
}
