.icon {
  transform: translate(3px, -3px);
  z-index: 1;
}

img, svg {
  position: static;
}

* {
  @apply select-none outline-none;
}

.nuxt-content {

  h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-white
  }

  p {
    @apply text-gray-900 dark:text-gray-900;
  }

}

