.icon {
  transform: translate(3px, -3px);
  z-index: 1;
}

img, svg {
  position: static;
}

* {
  @apply select-none outline-none;
}

.nuxt-content-editor {
  @apply dark:bg-dark-200 border dark:border-white border-black border-solid;
}

.nuxt-content {
  @apply dark:text-dark-700;
}
